*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}

/* Importando as fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* Fim da importação das fontes */

body {
    font-family: 'Open Sans', sans-serif ;
}

:root {
    --bg-amarelo-escuro: #fac464;
    --bg-footer: #111111;
}
.container__primeira__secao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 3em;
    width: 100%;
    background-color: #fac464;
}

.cards__secao1 {
    color: white;
    border-radius: 1em;
    margin-top: 2em;
}

.melhor__oferta {
    background: black;
    padding: 0.5em;
    border-radius: 0.5em 0.5em 0 0;
    font-weight: 600;
}

.caixa__card {
    background-color: black;
    margin-bottom: 2em;
    border-radius: 1em;
}

.span__menor {
    font-size: 0.4em;
}

.span__maior {
    font-size: 1.2em;
    font-weight: 700;
}

s {
    text-decoration: line-through;
}

.preco {
    font-size: 2em;
}

.detalhes {
    color: black !important;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
}

.beneficios {
    margin-top: 1em
}

.btn__contratar {
    border: none;
    padding: 0.6em 2em;
    border-radius: 0.6em;
    background-color: var(--bg-amarelo-escuro);
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
}

