*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}

/* Importando as fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* Fim da importação das fontes */

:root {
    --bg-amarelo-escuro: #fac464;
    --bg-footer: #111111;
}
.container__primeira__secao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 3em;
    width: 100%;
    background-color: #fac464;
}

.cards__secao1 {
    color: white;
    background-color: black;
    border-radius: 1em;
    margin-top: 2em;
}

.detalhes {
    color: black !important;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}